<div id="<%= dom_id idea %>">
  <div>
    <strong>Name:</strong>
    <%= idea.name %>
  </div>

  <div>
    <strong>Description:</strong>
    <%= idea.description %>
  </div>

  <div>
    <strong>Picture:</strong>
    <%= image_tag(idea.picture_url, width: 100) if idea.picture? %>
  </div>

</div>
